<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}">
</head>
<body class="bodyyy">
    <h2>Delete {{ menu_item_name }} from {{ restaurant_name }}?</h2>
    <form action="{% url 'restaurant:delete_menu_item' restaurant_name menu_item_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete {{ menu_item_name }}">
        <a href="{% url 'restaurant:menu' restaurant_name %}"><input type="button" value="Cancel"></a>
    </form>
</body>
</html>